.image-slide-in {
    background-position: -100%; /* Start position on the left outside of the section */
    animation: slideIn 3s linear infinite; /* Use 'infinite' for continuous animation */
  
    /* Add other styles if needed */
  }
  
  @keyframes slideIn {
    0% {
      background-position: -100%; /* Start position on the left outside of the section */
    }
    100% {
      background-position: 100%; /* Final position on the right outside of the section */
    }
  }

.typewriter-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 4s steps(40) 2s forwards;
  font-size: 1rem; /* Adjust font size as needed */
  line-height: 1.5; /* Adjust line height as needed */
}


@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
  