@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
:root
{
  height: 100%;
}

@keyframes rotateColors {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.text-rotate {
  background-image: linear-gradient(60deg, #f12c00, #43a1ee, #aa6bf6);
  background-size: 200% 100%;
  background-clip: text;
  color: transparent;
  animation: rotateColors 5s linear infinite;
}
